body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}

/*navbar*/
.navbar {
    height: 5rem;
    background-color: lightgrey;
}
.fa-compass {
    color: #fe424d;
}
.nav-link {
    color: #222222 !important;
}
/*Footer*/
/* .fa-info-links a {
    text-decoration: none;
    color: #222222;
}
.fa-info-links a:hover {
    text-decoration: underline;
}
.fa-info-links,
.fa-info-socials,
.fa-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.fa-info {
    text-align: center;
    height: 8rem;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
} */

footer {
    background-color:#333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.f-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-info-socials {
    margin-bottom: 10px;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #fff;
}

.f-info-brand {
    font-weight: bold;
    margin-bottom: 10px;
}

.f-info-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/*card*/
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}
.listing-link {
    text-decoration: none;  
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/*New page*/
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*Edit page*/
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*Show page*/
.show-img {
    height: 50vh;
}

.btns {
    display: flex;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map { 
    height: 400px;
    width: 80vh; 
}